xp_config:
  model_type: Sepformer
  dataset: ISSAI_KSC2
  speaker_num: 2

data:
  data_root: 'F:/ISSAI_KSC2_unpacked/DIHARD_DATA_INFO/CONCATED_DFS_train_crowdsourced_tvnews_tts=5000_k=2.csv'
  total_percent: 1.0
  train_percent: 0.5
  valid_percent: 0.5
  test_percent: 0.0
  shuffle: false
  num_workers: 0 
  batch_size: 2
  pin_memory: true
  sample_rate: 16000
  chunk_size: 32000
  least_size: 16000
  seed: 42

model:
  N: 256
  C: 2
  L: 16
  H: 8
  K: 250
  Global_B: 2
  Local_B: 8

trainer:
  epochs: 1000
  device: 'cuda'
  best_weights: false
  checkpointing: false
  checkpoint_interval: 1
  model_name: Sepformer
  trained_model: '' # weights/Dual_Path_RNN_1_-0.1336.pt 
  path_to_weights: './weights/dev_sepformer'
  ckpt_folder: ./checkpoints/
  speaker_num: 2
  alpha: 0.55
  beta: 0.45

training:
  optim: Adam   ### Adam, RMSprop, SGD
  lr: !!float 0.001
  weight_decay: 1.0e-05
  momentum: 0
  clip_norm: 5